# Игнорировать директорию с настройками проекта IntelliJ IDEA/PyCharm
.idea/

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать исходные таблицы формата csv
*.csv

# Игноировать виртуальное окружение Python
venv/
